/**
 * Cybex footer
 */

.SiteFooter {
	.Bar {
		background-color: $cool-gray;
		min-height: rem(50);

		@media (max-width: $layout-m) {
			flex-direction: column;

			.Bar-item {
				width: 100%;
				text-align: center;
				justify-content: center;
			}

			.Bar-item:first-of-type,
			.Bar-item:last-of-type {
				margin-bottom: $spacing-sm;
			}
			.Nav {
				flex-direction: column;
				width: 100%;
			}
			.Nav-item {
				display: block;
				padding-bottom: $spacing-s;
				padding-top: $spacing-s;
			}
		}
		@media (min-width: $layout-m) {
			min-height: rem(80);
		}
	}

	.Bar-item,
	.Bar--horizontal .Nav-item {
		// min-height: rem(30);

		@media (min-width: $layout-m) {
			min-height: rem(80);
		}
	}

	.Bar-item:first-of-type {
		background-color: $light-gray;
	}

	.Bar-item:last-of-type {
		padding-right: $spacing-s;
		@include font-arial-bold;

		@media (min-width: $layout-ml) {
			padding-right: $spacing-sm;
		}
	}
}

