/**
 * Predefined navigation mixins
 */

@define-mixin navHorizontal {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	* > {
		display: inline-block;
	}
}

@define-mixin navVertical {
	display: flex;
	flex-direction: column;
	flex-wrap: no-wrap;

	* > {
		display: block;
	}
}

// @define-mixin navItem? - thought the styles were too specific (Kimberly)
