/**
 * Text truncate
 */

@define-mixin text-truncate() {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// Element must be either block or inline-block
// and have a width

// .Element {
// 	  display: inline-block;
// 	  max-width: 200px;
// 	  @mixin text-truncate;
// }


.u-textTruncate {
	@mixin text-truncate;
}
