
/**
 * Theme specific variables
 * Try to avoid to use the color code directly
 */

$primary-color: 	red !default;
$background-color: 	white !default;
$text-color: 		black !default;
$overlay-bg: 		gray !default;
$error-validation: 	red !default;
$white: 			#ffffff;
$black: 			#000000;
$almost-white: 		#f3f3f3;
$lighter-gray: 		#dedede;
$light-gray: 		#c9c9c9;
$pale-gray: 		#dde6eb;
$cool-gray: 		#a8b1b5;
$gray: 				#6d6d6d;
$dark-gray: 		#383838;
$black: 			#000000;
$red: 				#ff0000;
$teal: 				#80d4bb;
$old-gold:    #bda56e;
$pale-gold:  #dfd3b7;
