
/**
 * Theme specific variables
 * Try to avoid to use the color code directly
 */

$primary-color: 	red !default;
$background-color: 	white !default;
$text-color: 		black !default;
$overlay-bg: 		gray !default;
$error-validation: 	red !default;
