/**
 * Typography
 */

$root-font-size: 15px;
$root-line-height: 1.3125;

// Sizes
// usefull if dpi different dpi between desing and browser
// $font-12: (12/96)*72px;
// $font-16: (16/96)*72px;
// $font-18: (18/96)*72px;
// $font-22: (22/96)*72px;
// $font-25: (25/96)*72px;
// $font-30: (30/96)*72px;
// $font-40: (40/96)*72px;
// $font-60: (60/96)*72px;

$font-11: 11px;
$font-12: 12px;
$font-14: 14px;
$font-15: 15px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-22: 22px;
$font-25: 25px;
$font-30: 30px;
$font-40: 40px;
$font-60: 60px;

// Letter spacing
$ls0: 0.025em !default;
$ls1: 0.05em !default;
$ls2: 0.1em !default;
