
/**
 * Theme specific variables
 * Try to avoid to use the color code directly
 */

$primary-color: 	red !default;
$background-color: 	white !default;
$text-color: 		black !default;
$overlay-bg: 		gray !default;
$error-validation: 	red !default;
$white: 			#ffffff !default;
$black: 			#000000 !default;
$almost-white: 		#f3f3f3 !default;
$lighter-gray: 		#dedede !default;
$light-gray: 		#c9c9c9 !default;
$pale-gray: 		#dde6eb !default;
$cool-gray: 		#a8b1b5 !default;
$gray: 				#6d6d6d !default;
$dark-gray: 		#383838 !default;
$black: 			#000000 !default;
$red: 				#ff0000 !default;
$teal: 				#80d4bb !default;
$old-gold:    #bda56e !default;
$pale-gold:  #dfd3b7 !default;
