/**
 * Spacing definitions
 */

// $spacing-s: 	rem(8) 	 !default;
// $spacing-sm: 	rem(16)  !default;
// $spacing-m: 	rem(24)  !default;
// $spacing-ml: 	rem(48)  !default;
// $spacing-l: 	rem(64)  !default;
// $spacing-xl: 	rem(88)  !default;
// $spacing-xxl: 	rem(136) !default;

$spacing-xs: 	rem(8) 	!default;
$spacing-s: 	rem(16) !default;
$spacing-sm: 	rem(24) !default;
$spacing-m:   rem(36) !default;
$spacing-ml: 	rem(48) !default;
$spacing-l: 	rem(64) !default;
$spacing-xl: 	rem(88) !default;
$spacing-xxl: 	rem(136)!default;
