<a href="#BurgerTarget" class="BurgerWrap js-toggleNav">
  <span class="BurgerWrap-label">Menu</span>
  <span class="BurgerWrap-label BurgerWrap-label--close">Close</span>
  <span class="Burger Burger--top"></span>
  <span class="Burger Burger--middle"></span>
  <span class="Burger Burger--bottom"></span>
</a>
