<a href="#BurgerTarget" class="NavBurger js-toggleNav">
	<span class="NavBurger-label">Menu</span>
	<span class="NavBurger-label NavBurger-label--close">Close</span>
	<span class="Burger Burger--top"></span>
	<span class="Burger Burger--middle"></span>
	<span class="Burger Burger--bottom"></span>
</a>
