/**
 * Position Mixins
 */

@define-mixin positionCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.u-positionCenter {
  @mixin positionCenter;
}

.u-posRelative {
  position: relative;
}

.u-alignCenter {
  align-items: center;
}

.u-justifyCenter {
  justify-content: center;
}
