:root {
  --negative-text {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  --hide-text {
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
  }
}


.u-resetTextTransform {
  text-transform: none;
}

.u-hideText {

  @apply --hide-text;
}
