/**
 * Color definitions
 */

// General colors
$primary-color: red !default;
$background-color: hsl(0, 0%, 100%) !default;
$text-color: hsl(0, 0%, 0%) !default;
$overlay-bg: grey !default;
$error-validation: red !default;

// Colors
$white: hsl(0, 0%, 100%) !default;
$black: hsl(0, 0%, 0%) !default;
