/**
 * Spacing definitions
 */

// Letter spacing
$ls0: 0.025em !default;
$ls1: 0.05em !default;
$ls2: 0.1em !default;

// Layout
$spacing-s: rem(8) !default;
$spacing-sm: rem(16) !default;
$spacing-m: rem(24) !default;
$spacing-ml: rem(48) !default;
$spacing-l: rem(64) !default;
$spacing-xl: rem(88) !default;
$spacing-xxl: rem(136) !default;
