/**
 * Predefined navigation mixins
 */
:root {
  --navHorizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    & * > {
      display: inline-block;
    }
  }

  --navVertical {
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    & * > {
      display: block;
    }
  }
}
