@define-mixin ratio $ratioWidth: 16, $ratioHeight: 9 {
  box-sizing: border-box;
  position: relative;

  &::before {
    box-sizing: border-box;
    content: "";
    display: block;
    padding-top: calc(($ratioHeight / $ratioWidth) * 100%);
    position: relative;
  }
}

@define-mixin ratio-inner {
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.u-ratio-1-1 {
    @mixin ratio 1, 1;
}
