:root {
  --negative-text {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  --hide-text {
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
  }
}

.u-negativeText {
  @apply --negative-text;
}

.u-hideText {
  @apply --hide-text;
}

.u-textUnderline {
  text-decoration: underline;
}

.u-resetTextTransform {
  text-transform: none;
}

.u-textLowercase {
  text-transform: lowercase;
}

.u-textUppercase {
  text-transform: uppercase;
}
