:root {
  --negative-text {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  --hide-text {
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
  }
}

.u-negativeText {
  @apply --negative-text;
}

.u-hideText {
  @apply --hide-text;
}

.u-textUnderline {
  text-decoration: underline !important;
}

.u-resetTextTransform {
  text-transform: none !important;
}

.u-textLowercase {
  text-transform: lowercase !important;
}

.u-textUppercase {
  text-transform: uppercase !important;
}

@media (--lg-viewport) {
  .u-lg-textCenter {
    text-align: center;
  }
}
