.BurgerWrap {
	position: relative;
	display: inline-block;
	width: rem(30);
	height: rem(28);
	vertical-align: middle;

	i {
		@include hide-text;
		width: 100%;
		height: 100%;
	}

	&:focus {
		outline: none;
	}
}
.BurgerWrap-label {
	position: absolute;
	top: rem(12);
	right: rem(55);
	// @include type-nav;
	color: $black;

	@media (min-width: $layout-sm) {
		top: rem(14);
	}
	@media (min-width: 1200px) {
		right: rem(70);
	}
}

.Burger {
	position: absolute;
	width: rem(23);
	left: 0;
	right: 0;
	margin: auto;
	padding: rem(12);
	margin-top: 0;
	border-top: 2px solid $black;
	transition: .4s $easing;
	backface-visibility: hidden;

	@media (min-width: $layout-sm) {
		width: rem(28);
	}
}
.Burger--top {
	top: 0;
}
.Burger--middle {
	top: rem(10);
}
.Burger--bottom {
	top: rem(20);
}

.BurgerWrap-label--close {
	display: none;
}

// Active State
.BurgerWrap.is-active {
	height: 3em;

	.Burger {
		border-color: $black;
		padding: 0;
	}
	.BurgerWrap-label {
		display: none;
	}
	.BurgerWrap-label--close {
		display: block;
	}
}
.BurgerWrap.is-active .Burger--top {
	top: rem(10);
	transform: rotateZ(45deg);
}
.BurgerWrap.is-active .Burger--middle {
	display: none;
}
.BurgerWrap.is-active .Burger--bottom {
	top: rem(10);
	transform: rotateZ(-45deg);
}
