// /**
//  * Buttons
//  *
//  * A button suitable for giving stars to someone.
//  *
//  * :hover             - Subtle hover highlight.
//  * .stars-given       - A highlight indicating you've already given a star.
//  * .stars-given:hover - Subtle hover highlight on top of stars-given styling.
//  * .disabled          - Dims the button to indicate it cannot be used.
//  *
//  * Styleguide Elements.Buttons

$space: 30px;

.Button {
	display: inline-block;
	cursor: pointer;
	border: 0;
	background-color: $black;
	color: $white;
	padding: 0.3rem 1.5rem 0.3rem;
	min-width: rem(135);
	min-height: rem(50);
	text-align: center;

	@media (max-width: $layout-m) {
		font-size: rem(14);
	}
}

.Button + .Button {
	margin-left: rem($space / 2);
}

a.Button {
	color: $white;
	text-decoration: none;
}

/**
 * UI states
 */

.Button:hover,
.Button:focus {
	text-decoration: none;
}

.Button:active {}

.Button:disabled {
	cursor: default;
	opacity: 0.75;
}

/**
 * Modifiers
 */

.Button--flex {
	// because <button> can't be flex, need a width value
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
}
