/**
 * Resets default margins
 */

body {
	// Remove default browser margin.
	margin: 0 !default;
}

// Set a consistent margin between block elements.
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
ol,
ul,
blockquote,
pre,
fieldset,
table,
address,
figure {
	margin-top: 0  !default;
	margin-bottom: rem($spacing-m)  !default;
}

// Responsive media
iframe,
img,
canvas,
video,
audio,
embed {
	max-width: 100% !default;
}
