/**
 * Icons
 */


svg {
	max-height: 100% !default;
}

$icon-size: 20px !default;

// targets all classes that include "icon-"
[class^="icon-"],
[class*=" icon-"] {
	// give the icons a dimension
	display: inline-block !default;
	// scale the background svg/png to fit
	background-position: 0 0 !default;
	background-repeat: no-repeat !default;
	background-size: contain !default;
	// inherit any colors
	fill: currentColor !default;

	width: rem(20) !default;
	height: rem(20) !default;

	// When embedding icons using data-grunticon-embed we
	// have this svg element.
	svg {
		width: 100% !default;
		height: 100% !default;
	}
}

//Layout logic
$space: 30px !default;
$icon-spacing-horizontal-small: $space/3 !default;
$icon-spacing-horizontal: $space/1.5 !default;
$icon-spacing-vertical-small: 7.5px !default;
$icon-spacing-vertical: $space/2 !default;

.Icon {
	display: flex !default;
}
.Icon i {
	// don't shrink the icon
	flex-shrink: 0 !default;

	width: rem(30) !default;
	height: rem(30) !default;
	// IE 10 fix
	background-size: 30px 30px !default;
	@media (min-width: $layout-m) {
		width: rem(40) !default;
		height: rem(40) !default;
		// IE 10 fix
		background-size: 40px 40px !default;
	}
	@media (min-width: $layout-l) {
		width: rem(50) !default;
		height: rem(50) !default;
		// IE 10 fix
		background-size: 50px 50px !default;
	}
}
.Icon-text {
	display: inline-block !default;
	align-self: center !default;
	margin-left: rem($icon-spacing-horizontal-small) !default;
	text-align: left !default;
	z-index: 1 !default; // fix bug in safari
	@media (min-width: $layout-m) {
		margin-left: rem($icon-spacing-horizontal) !default;
	}
}
.Icon--underneath {
	flex-direction: column !default;
	i {
		margin: auto !default;
	}
}
.Icon--reverse {
	justify-content: flex-end !default;
}
.Icon-text--reverse {
	order: -1 !default;
	text-align: right !default;
	margin-left: 0 !default;
	margin-right: rem($icon-spacing-horizontal-small) !default;
	@media (min-width: $layout-m) {
		margin-left: 0 !default;
		margin-right: rem($icon-spacing-horizontal) !default;
	}
}
.Icon-text--underneath {
	text-align: center !default;
	margin-top: rem($icon-spacing-vertical-small) !default;
	margin-left: auto !default;
	margin-right: auto !default;
	@media (min-width: $layout-m) {
		margin-top: rem($icon-spacing-vertical) !default;
	}
}

.Icon-text--gray {
	color: gray !default;
}
