/**
 * Global styles (avoid anything but element selectors here)
 */
html {
	color: $text-color;

	// Enable kerning and ligatures in all browsers.
	// - http://blog.typekit.com/2014/02/05/kerning-on-the-web/
	// - https://github.com/kennethormandy/normalize-opentype.css
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern" 1;
	font-kerning: normal;

	@media (min-width: $layout-l) {
		font-size: $root-font-size + 2;
	}
}
