/**
 * Global styles (avoid anything but element selectors here)
 */


html {
	color: $text-color;

	// Enable kerning and ligatures in all browsers.
	// - http://blog.typekit.com/2014/02/05/kerning-on-the-web/
	// - https://github.com/kennethormandy/normalize-opentype.css
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern" 1;
	font-kerning: normal;

	@include font-arial-regular;
}

@mixin type-title1 {
	@include font-arial-bold;
	font-size: rem(22);
	line-height: 1.1;
	text-transform: uppercase;
	letter-spacing: $ls1;
	margin-bottom: $spacing-s;
}

@mixin type-title2 {
	@include type-title1;
	@include font-arial-regular;
}

@mixin type-title3 {
	@include font-arial-bold;
	font-size: rem(15);
}

@mixin type-title4 {
	@include font-arial-bold;
	font-size: rem(12);
}


@mixin type-copy {
	@include font-arial-regular;
	font-size: rem(14);
}

@mixin type-quote {
	@include font-lato;
	font-size: rem(25);
	line-height: (50/40);
	@media (min-width: $layout-sm) {
		font-size: rem(40);
	}
}

@mixin type-smallCopy {
	@include font-arial-regular;
	font-size: rem(12);
	line-height: 1.25;
	// margin-bottom: $spacing-sm;
}

@mixin type-textInput {
	@include font-arial-bold;
	font-size: rem(12);
}

@mixin type-label {
	@include font-arial-regular;
	font-size: rem(11);
	text-transform: uppercase;
}

@mixin type-button {
	@include font-arial-regular;
	font-size: rem(11);
	text-transform: uppercase;
}

@mixin type-list {
	@include font-arial-regular;
	font-size: rem(20);
	line-height: 1.5;
}





.type-title1 { 		@include type-title1; }
.type-title2 { 		@include type-title2; }
// .type-subtitle1 { @include type-subtitle1; }
// .type-subtitle2 { @include type-subtitle2; }
.type-title3 { 		@include type-title3; }
.type-title4 { 		@include type-title4; }
.type-navigation { 	@include type-copy; }
.type-button { 		@include type-button; }
.type-textInput { 	@include type-textInput; }
.type-copy { 		@include type-copy; }
.type-smallCopy { 	@include type-smallCopy; }
.type-label { 		@include type-label; }
.type-list { 		@include type-list; }
.type-quote { 		@include type-quote; }




// @import 'kern/scss/tools/helpers/mixin-to-class';

// @mixin createClassNames($listOfMixins) {
//   @each $className, $mixinName in $listOfMixins {
//     .#{$className} {
// 		@include #{$mixinName};

// 		// @include #{$mixin};
// 		font-size: 60px;
//     }
//   }
// }

// @include createClassNames( (type-title1: "type-title1") );
