<div class="GalleryRatio GalleryRatio--fitToViewport">
	<div class="Gallery Gallery--full js-gallery">
		<div class="Gallery-cell">
			<img data-sizes="auto" class="lazyload"
				src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
				data-srcset="">
		</div>
		<div class="Gallery-cell">
			<img data-sizes="auto" class="lazyload"
				src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
				data-srcset="">
		</div>
		<div class="Gallery-cell">
			<img data-sizes="auto" class="lazyload"
				src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
				data-srcset="">
		</div>
	</div>
	<a href="#firstSection" class="Gallery-scroll js-scrollTo">
		<span>Scroll to</span>
		<i class="icon-arrow-down"></i>
	</a>
</div>
