<div class="Bar Bar--horizontal">
	<div class="Bar-item">
		<nav class="Nav">
			<div class="Nav-item">Element</div>
		</nav>
	</div>
	<div class="Bar-item Bar-item--center">
		<nav class="Nav">
			<div class="Nav-item">Element 1</div>
			<div class="Nav-item">Element 2</div>
		</nav>
	</div>
	<div class="Bar-item Bar-item--right">
		<nav class="Nav">
			<div class="Nav-item">Element 3</div>
		</nav>
		{{> "burger"}}
	</div>
</div>

<div class="Bar Bar--vertical">
	<div class="Bar-item">
		<nav class="Nav">
			<div class="Nav-item">Element</div>
		</nav>
	</div>
	<div class="Bar-item Bar-item--middle">
		<nav class="Nav">
			<div class="Nav-item">Element 1</div>
			<div class="Nav-item">Element 2</div>
		</nav>
	</div>
	<div class="Bar-item Bar-item--bottom">
		<nav class="Nav">
			<div class="Nav-item">Element 3</div>
		</nav>
		{{> "burger"}}
	</div>
</div>
